### -----------------------------------------------------------------
### Import S4 methods defined in other packages
###
importMethodsFrom(ShortRead, FastqStreamer, yield, writeFastq)
importMethodsFrom(Biostrings, quality, unlist, width)
importMethodsFrom(IRanges, narrow)
importMethodsFrom(Rsamtools, indexBam, sortBam, scanBamHeader, ScanBamParam,
                             testPairedEndBam)
importMethodsFrom(GenomicAlignments, readGAlignments, coverage)
importMethodsFrom(rtracklayer, export.bw)

### -----------------------------------------------------------------
### Import ordinary functions, variables in other packages
###
importFrom(Biostrings, fastq.geometry, PhredQuality)
importFrom(caTools, runmean)
importFrom(parallel, detectCores, mclapply)
importFrom(stats, na.omit, setNames)
importFrom(tools, file_ext)
importFrom(R.utils, gunzip, isGzipped)
importFrom(Rsamtools, scanBamFlag)

### -----------------------------------------------------------------
### Export non-generic functions
###
export(
  ## fastq.R
  getPairedReads,
  trimFastq,
  fastUniq,
  
  ## bamMethods.R
  sortIndexBam,
  addInputReadCounts,
  bam2bigwig,
  getBamInputReadCount,
  getBamMultiMatching,
  
  ## mapMethods.R
  bwaMem,
  
  ## util.R
  grepPatternList
)

