
### -----------------------------------------------------------------
### Import ordinary functions, variables in other packages
###
importFrom(Biostrings, fastq.geometry)

### -----------------------------------------------------------------
### Export non-generic functions
###
export(
  ## fastq.R
  getPairedReads,
  
  ## util.R
  grepPatternList
)

