### -----------------------------------------------------------------
### Import S4 methods defined in other packages
###
importMethodsFrom(ShortRead, FastqStreamer, yield, writeFastq)
importMethodsFrom(Biostrings, quality, unlist, width)
importMethodsFrom(IRanges, narrow)
importMethodsFrom(Rsamtools, indexBam, sortBam, scanBamHeader, ScanBamParam,
                             testPairedEndBam, scanBam)
importMethodsFrom(GenomicAlignments, readGAlignments, readGAlignmentPairs,
                  coverage, njunc)
importMethodsFrom(rtracklayer, export.bw)
importMethodsFrom(GenomicRanges, grglist, width, findOverlaps, trim)
importMethodsFrom(BiocGenerics, unlist, as.data.frame)
importMethodsFrom(GenomicFeatures, promoters)

### -----------------------------------------------------------------
### Import ordinary functions, variables in other packages
###
importFrom(Biostrings, fastq.geometry, PhredQuality, fasta.seqlengths)
importFrom(caTools, runmean)
importFrom(parallel, detectCores, mclapply)
importFrom(stats, na.omit, setNames)
importFrom(tools, file_ext)
importFrom(R.utils, gunzip, isGzipped)
importFrom(Rsamtools, scanBamFlag, "bamFlag<-")
importFrom(ggplot2, ggplot, geom_density, theme_bw, aes, xlab, geom_histogram)
importFrom(GenomicFeatures, makeTxDbFromGFF)
importFrom(GenomicRanges, makeGRangesFromDataFrame)

### -----------------------------------------------------------------
### Export non-generic functions
###
export(
  ## fastq.R
  getPairedReads,
  trimFastq,
  fastUniq,
  
  ## bamMethods.R
  sortIndexBam,
  addInputReadCounts,
  bam2bigwig,
  getBamInputReadCount,
  getBamMultiMatching,
  
  ## bamPlots.R
  makeAlignmentCountBarPlot,
  makeFragLengthHistPlot,
  makeSegmentCountHistPlots,
  
  ## mapMethods.R
  bwaMem,
  
  ## CAGE.R
  promotersFromGFF,
  assignTCsToPromoters,
  
  ## util.R
  grepPatternList
)

